<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Encrypt Files - TrueKey</title>
    <link rel="stylesheet" href="../css/app.global.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-primary" type="button" id="SEF-cancel-btn">Back</button>
      </form>
    </nav>
    <hr />
    <div class="container-fluid">
      <h4>Select Private Key:</h4>
      <div class="form-row">
        <div class="col">
          <label for="sel-key">Stored keys:</label><br />
          <select class="form-control" id="sel-keys"></select>
        </div>
        <div id="pw" class="col">
          <div class="col">
            <label for="txt-passphrase">Please enter key password:</label>
            <input class="form-control"
              type="password"
              id="txt-passphrase"
              placeholder="Secured Key Password"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div id="fs" class="container-fluid">
      <h4>Encryption:</h4>
      <div class="container">
        <div class="form-row">
          <div class="col-4 align-self-center">
            <label for="file-plain">Plain file:</label>
            <input type="file" id="file-plain" />
            <br /><br />
            <!-- <label for="msg-plain">Plain Message: </label><br />
            <textarea 
              class="form-control"
              rows="5"
              cols="30"
              id="msg-plain"
            ></textarea> -->
          </div>
          <div class="col-4 align-self-center">
            <button class="btn btn-primary btn-lg" id="btn-encrypt">Encrypt</button>
            <img src="../img/245.gif" loop=infinite id="processing">
          </div>
          <div class="col-4 align-self-center">
            <label>Encrypted file:</label><br />
            <!-- <button class="btn btn-primary" id="btn-show-enc">View</button> -->
            <button class="btn btn-success" id="btn-save-enc">Save</button
            ><br />
            <!-- <label for="msg-encrypted">Encrypted Message: </label><br />
            <textarea
              class="form-control"
              rows="5"
              cols="30"
              id="msg-encrypted"
            ></textarea> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Button Control-->
    <input id="encrypt-btn-clicked" type="file" accept="" hidden />
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/encrypt.js"></script>
  </body>
</html>