<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Janus</title>
    <link rel="stylesheet" href="../css/app.global.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-primary" type="button" id="encrypt-btn-main" disabled>Sign/Encrypt</button>
        <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" id="decrypt-btn-main">Decrypt/Verify</button>
        <hr class="line-vertical"/>
        <button class="btn btn-primary" type="button" id="new_pair-btn-main">New Key Pair</button>
        <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" id="import-btn-main" disabled>Import</button>
        <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" disabled>Export</button>
        <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" disabled>Certify</button>
      </form>
    </nav>
    <div class="container-fluid">
      <h4>Information:</h4>
      <div class="form-row">
        <p>Welcome to Janus</p>
      </div>
      <div class="form-row">
        <p>Currently you are able to generate and save new key pairs as well as decrypt files</p>
      </div>
      <div class="form-row">
        <p>Coming soon you will be able to encrypt files, use Janus as a key manager allowing key import & export, etc.</p>
      </div>
    </div>
    <!-- Button Control-->
    <input id="encrypt-btn-clicked" type="file" accept="" hidden />
    <input id="decrypt-btn-clicked" type="file" accept="" hidden />
    <input id="import-btn-clicked" type="file" accept="" hidden />
    <!-- Modal Control-->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="importModalLabel">Import Keys</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="file-loading">
              <label for="file-pvt-key" class="form-label">Private key: </label>
              <input id="file-pvt-key" name="pvt-key" multiple type="file"/>
            </div>
            <div id="pvt-key-errors"></div>
          </div>
          <div class="modal-body">
            <div class="file-loading">
              <label for="file-pub-key" class="form-label">Public key: </label>
              <input id="file-pub-key" name="pub-key" multiple type="file"/>
            </div>
            <div id="pub-key-errors"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btn-import-key" type="button" class="btn btn-primary" title="import key" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
