<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>TrueKey</title>
    <link rel="stylesheet" href="../css/app.global.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-primary" type="button" id="encrypt-btn-main">Sign/Encrypt</button>
        <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" id="decrypt-btn-main">Decrypt/Verify</button>
        <hr class="line-vertical"/>
        <button class="btn btn-primary" type="button" id="new_pair-btn-main">New Key Pair</button>
        <!-- <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" id="import-btn-main">Import</button> -->
        <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" id="export-btn-main">Export</button>
        <!-- <hr class="line-vertical-hidden"/>
        <button class="btn btn-primary" type="button" id="certify-btn-main" disabled>Certify</button> -->
      </form>
    </nav>
    <div class="container-fluid">
      <h4>Information:</h4>
      <div class="form-row">
        <p>Welcome to TrueKey</p>
      </div>
      <div class="form-row">
        <p>Currently you are able to generate and save new key pairs, encrypt & decrypt files, & export generated keys</p>
      </div>
    </div>
    <br /><br />
    <!--  -->
    <div class="container-fuild">
      <div class="form-row p-1">
        <div class="col align-self-center">
          <label for="sel-key">Stored keys:</label><br />
          <select class="form-control" id="sel-keys"></select>
        </div>
        <div class="col align-self-center">
          <div class="card">
            <img class="card-img-top" id="img-key" />
            <div class="card-body">
              <h5 class="card-title" id="txt-key-id">Key information</h5>
              <h6 class="card-subtitle mb-2 text-muted" id="txt-key-email"></h6>
              <p class="card-text" id="txt-key-fp"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Button Control-->
    <input id="encrypt-btn-clicked" type="file" accept="" hidden />
    <input id="decrypt-btn-clicked" type="file" accept="" hidden />
    <input id="import-btn-clicked" type="file" accept="" hidden />
    <!-- Modal Control-->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="importModalLabel">Import Keys</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="file-loading">
              <label for="file-pvt-key" class="form-label">Private key: </label>
              <input id="file-pvt-key" name="pvt-key" multiple type="file"/>
            </div>
            <div id="pvt-key-errors"></div>
          </div>
          <div class="modal-body">
            <div class="file-loading">
              <label for="file-pub-key" class="form-label">Public key: </label>
              <input id="file-pub-key" name="pub-key" multiple type="file"/>
            </div>
            <div id="pub-key-errors"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btn-import-key" type="button" class="btn btn-primary" title="import key" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
